body, ul, li, p, h1, h2, figure{margin: 0; padding: 0;}
figure{font-size: 0;}
li{list-style: none;}
a{text-decoration: none; color:#000;}

@font-face {
  font-family: 'DOSSaemmul';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSSaemmul.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
*{font-family: 'DOSSaemmul'; box-sizing: border-box;}

body{
  &::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
  }
  &::-webkit-scrollbar-thumb {
    // height: 30%; /* 스크롤바의 길이 */
    background: #aaa; /* 스크롤바의 색상 */
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background: #fafafa;  /*스크롤바 뒷 배경 색상*/
  }
}

html, body{
	cursor: url("../img/pointer.png"), auto;
}