@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
body, ul, li, p, h1, h2, figure {
  margin: 0;
  padding: 0;
}

figure {
  font-size: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

@font-face {
  font-family: "DOSSaemmul";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSSaemmul.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "DOSSaemmul";
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}
body::-webkit-scrollbar-thumb {
  background: #aaa; /* 스크롤바의 색상 */
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background: #fafafa; /*스크롤바 뒷 배경 색상*/
}

html, body {
  cursor: url("../img/pointer.png"), auto;
}

.portfolio_wrap header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fafafa;
  z-index: 99;
}
.portfolio_wrap header .header_wrap {
  width: 1200px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.portfolio_wrap header .header_wrap h2 {
  font-weight: 400;
}
.portfolio_wrap header .header_wrap h2 a {
  font-size: 50px;
  cursor: url("../img/pointer2.png"), auto;
}
.portfolio_wrap header .header_wrap ul {
  display: flex;
}
.portfolio_wrap header .header_wrap ul li {
  padding-left: 45px;
}
.portfolio_wrap header .header_wrap ul li:nth-of-type(1) {
  padding-left: 0;
}
.portfolio_wrap header .header_wrap ul li a {
  font-size: 24px;
  color: #aaa;
  cursor: url("../img/pointer2.png"), auto;
}
.portfolio_wrap header .header_wrap ul li a::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  margin: auto;
  border-radius: 50%;
  background-color: #6797ED;
  display: none;
}
.portfolio_wrap header .header_wrap ul li a.colors {
  color: #6797ED;
}
.portfolio_wrap header .header_wrap ul li a.colors::after {
  display: block;
}
.portfolio_wrap main .con1_wrap {
  position: relative;
  height: 100vh;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111;
}
.portfolio_wrap main .con1_wrap .text_box {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}
.portfolio_wrap main .con1_wrap .text_box .text {
  line-height: 2;
}
.portfolio_wrap main .con1_wrap .text_box .blink {
  animation: blink 0.5s infinite;
  font-size: 50px;
}
@keyframes blink {
  to {
    opacity: 0;
  }
}
.portfolio_wrap main .con1_wrap figure {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  animation: 0.8s scrollDown linear 0s infinite alternate;
}
@keyframes scrollDown {
  0% {
    margin-bottom: 30px;
  }
  100% {
    margin-bottom: 50px;
  }
}
.portfolio_wrap main .con1_wrap figure img {
  display: none;
  width: 150px;
  cursor: url("../img/pointer2.png"), auto;
}
.portfolio_wrap main .con2_wrap {
  padding: 150px 0;
}
.portfolio_wrap main .con2_wrap h2 {
  width: 1200px;
  margin: 0 auto 80px;
  text-align: center;
  color: #6797ED;
  font-size: 40px;
  letter-spacing: 4px;
}
.portfolio_wrap main .con2_wrap .about_top {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 0 0 530px 0;
}
.portfolio_wrap main .con2_wrap .about_top figure {
  display: inline-block;
  position: absolute;
  top: 200px;
  left: 160px;
}
.portfolio_wrap main .con2_wrap .about_top figure img {
  width: 230px;
}
.portfolio_wrap main .con2_wrap .about_top .top_txt {
  background: #f5f5f5;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 160px;
}
.portfolio_wrap main .con2_wrap .about_top .top_txt p {
  font-size: 20px;
  line-height: 2;
  padding: 40px 70px 40px 40px;
}
.portfolio_wrap main .con2_wrap .about_top .top_txt p b {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.portfolio_wrap main .con2_wrap .about_top .top_txt p b::after {
  content: "";
  display: block;
  width: 100%;
  height: 8px;
  background: #6797ED;
  border-radius: 8px;
  position: absolute;
  bottom: 7px;
  z-index: -1;
}
.portfolio_wrap main .con2_wrap .about_top .top_txt::after {
  content: "";
  display: inline-block;
  border: 20px solid transparent;
  border-top-color: #f5f5f5;
  position: absolute;
  bottom: -35px;
  left: 35px;
}
.portfolio_wrap main .con2_wrap .about_bottom {
  width: 1200px;
  margin: 0 auto;
}
.portfolio_wrap main .con2_wrap .about_bottom ul {
  display: flex;
  justify-content: space-between;
}
.portfolio_wrap main .con2_wrap .about_bottom ul li {
  width: 22%;
}
.portfolio_wrap main .con2_wrap .about_bottom ul li b {
  display: inline-block;
  font-size: 30px;
  color: #6797ED;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}
.portfolio_wrap main .con2_wrap .about_bottom ul li p {
  font-family: Pretendard, "Noto Sans KR", sans-serif;
  color: #555;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 5px;
}
.portfolio_wrap main .con2_wrap .about_bottom ul li p:first-child {
  margin-top: 0;
}
.portfolio_wrap main .con2_wrap .about_bottom ul li span {
  font-family: Pretendard, "Noto Sans KR", sans-serif;
  color: #aaa;
  font-size: 14px;
}
.portfolio_wrap main .con2_wrap .about_bottom ul li .skills_bar {
  display: block;
  width: 100%;
  height: 6px;
  border-radius: 6px;
  background-color: #eee;
  margin-top: 5px;
}
.portfolio_wrap main .con2_wrap .about_bottom ul li .skills_bar::after {
  content: "";
  display: block;
  background: #aaa;
  height: 6px;
  border-radius: 6px;
}
.portfolio_wrap main .con2_wrap .about_bottom ul li .skills_bar:nth-of-type(1)::after, .portfolio_wrap main .con2_wrap .about_bottom ul li .skills_bar:nth-of-type(3)::after {
  width: 90%;
}
.portfolio_wrap main .con2_wrap .about_bottom ul li .skills_bar:nth-of-type(2)::after, .portfolio_wrap main .con2_wrap .about_bottom ul li .skills_bar:nth-of-type(4)::after {
  width: 60%;
}
.portfolio_wrap main .con2_wrap .about_bottom ul li .skills_bar:nth-of-type(5)::after {
  width: 30%;
}
.portfolio_wrap main .con3_wrap {
  background-color: #fafafa;
  padding: 150px 0;
}
.portfolio_wrap main .con3_wrap .con3 {
  width: 1400px;
  margin: 0 auto;
}
.portfolio_wrap main .con3_wrap .con3 h2 {
  font-size: 40px;
  letter-spacing: 4px;
  color: #333;
  margin-bottom: 100px;
  text-align: center;
}
.portfolio_wrap main .con3_wrap .con3 .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
}
.portfolio_wrap main .con3_wrap .con3 .swiper .swiper-wrapper .swiper-slide .sw_bg {
  background: url("../img/project.png");
  background-repeat: no-repeat;
  width: 640px;
  height: 385px;
  background-size: 100% 100%;
  margin-right: 100px;
  box-shadow: 4px 4px 0px #333;
  margin-bottom: 80px;
}
.portfolio_wrap main .con3_wrap .con3 .swiper .swiper-wrapper .swiper-slide .sw_bg figure {
  width: 96%;
  height: 85%;
  position: relative;
  top: 44px;
  left: 13px;
  overflow-y: scroll;
}
.portfolio_wrap main .con3_wrap .con3 .swiper .swiper-wrapper .swiper-slide .sw_bg figure::-webkit-scrollbar {
  width: 6px; /* 스크롤바의 너비 */
}
.portfolio_wrap main .con3_wrap .con3 .swiper .swiper-wrapper .swiper-slide .sw_bg figure::-webkit-scrollbar-thumb {
  background: #7c92ff; /* 스크롤바의 색상 */
  border-radius: 10px;
}
.portfolio_wrap main .con3_wrap .con3 .swiper .swiper-wrapper .swiper-slide .sw_bg figure::-webkit-scrollbar-track {
  background: #fff; /*스크롤바 뒷 배경 색상*/
}
.portfolio_wrap main .con3_wrap .con3 .swiper .swiper-wrapper .swiper-slide .sw_bg figure img {
  width: 100%;
}
.portfolio_wrap main .con3_wrap .con3 .swiper .swiper-wrapper .swiper-slide .project_txt > b {
  display: inline-block;
  font-size: 23px;
  margin-bottom: 50px;
}
.portfolio_wrap main .con3_wrap .con3 .swiper .swiper-wrapper .swiper-slide .project_txt .project_txts {
  font-size: 17px;
  display: flex;
  margin-bottom: 20px;
}
.portfolio_wrap main .con3_wrap .con3 .swiper .swiper-wrapper .swiper-slide .project_txt .project_txts b {
  font-family: Pretendard, "Noto Sans KR", sans-serif;
  color: #555;
  margin-right: 20px;
  width: 100px;
  display: inline-block;
}
.portfolio_wrap main .con3_wrap .con3 .swiper .swiper-wrapper .swiper-slide .project_txt .project_txts p {
  font-family: Pretendard, "Noto Sans KR", sans-serif;
  color: #555;
  line-height: 1.5;
  font-weight: 300;
}
.portfolio_wrap main .con3_wrap .con3 .swiper .swiper-wrapper .swiper-slide .project_txt button {
  margin-top: 50px;
  border: 1px solid #111;
  font-size: 20px;
  box-shadow: 3px 3px 0px #333;
  background-color: #fff;
  cursor: url("../img/pointer2.png"), auto;
}
.portfolio_wrap main .con3_wrap .con3 .swiper .swiper-wrapper .swiper-slide .project_txt button a {
  cursor: url("../img/pointer2.png"), auto;
  padding: 8px 16px;
  display: inline-block;
}
.portfolio_wrap main .con3_wrap .con3 .swiper .swiper-button-prev {
  cursor: url("../img/pointer2.png"), auto;
}
.portfolio_wrap main .con3_wrap .con3 .swiper .swiper-button-prev::after {
  content: none;
}
.portfolio_wrap main .con3_wrap .con3 .swiper .swiper-button-next {
  cursor: url("../img/pointer2.png"), auto;
}
.portfolio_wrap main .con3_wrap .con3 .swiper .swiper-button-next::after {
  content: none;
}
.portfolio_wrap main .con3_wrap .con3 .swiper .swiper-pagination {
  cursor: url("../img/pointer2.png"), auto;
}
.portfolio_wrap main .con3_wrap .con3 .swiper .swiper-pagination-bullet {
  cursor: url("../img/pointer2.png"), auto;
}
.portfolio_wrap main .con3_wrap .con3 .swiper .swiper-pagination-bullet-active {
  cursor: url("../img/pointer2.png"), auto;
  background: #6797ED;
}
.portfolio_wrap main .con4_wrap {
  padding: 150px 0;
}
.portfolio_wrap main .con4_wrap .con4 {
  width: 1200px;
  margin: 0 auto;
}
.portfolio_wrap main .con4_wrap .con4 h2 {
  font-size: 40px;
  letter-spacing: 4px;
  color: #333;
  margin-bottom: 100px;
  text-align: center;
}
.portfolio_wrap main .con4_wrap .con4 .con4_1 > b {
  display: block;
  text-align: center;
  font-size: 22px;
  margin-bottom: 40px;
  color: #444;
}
.portfolio_wrap main .con4_wrap .con4 .con4_1 .mySwipers {
  height: 310px;
  margin-bottom: 150px;
}
.portfolio_wrap main .con4_wrap .con4 .con4_1 .mySwipers li {
  display: flex;
  justify-content: space-between;
  cursor: url("../img/pointer2.png"), auto;
}
.portfolio_wrap main .con4_wrap .con4 .con4_1 .mySwipers li figure {
  text-align: center;
  width: 22%;
}
.portfolio_wrap main .con4_wrap .con4 .con4_1 .mySwipers li figure img {
  width: 100%;
}
.portfolio_wrap main .con4_wrap .con4 .con4_1 .mySwipers .swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 0px);
}
.portfolio_wrap main .con4_wrap .con4 .popup_bg {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  z-index: 999;
  cursor: url("../img/pointer2.png"), auto;
}
.portfolio_wrap main .con4_wrap .con4 .popup_bg .popup_con {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  background-color: #fff;
  z-index: 1000;
}
.portfolio_wrap main .con4_wrap .con4 .con4_2 > b {
  display: block;
  text-align: center;
  font-size: 22px;
  margin-bottom: 40px;
  color: #444;
}
.portfolio_wrap main .con4_wrap .con4 .con4_2 .page {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.portfolio_wrap main .con4_wrap .con4 .con4_2 .page .page_list {
  width: 28%;
  margin-bottom: 80px;
}
.portfolio_wrap main .con4_wrap .con4 .con4_2 .page .page_list:nth-of-type(4), .portfolio_wrap main .con4_wrap .con4 .con4_2 .page .page_list:nth-of-type(5), .portfolio_wrap main .con4_wrap .con4 .con4_2 .page .page_list:nth-of-type(6) {
  margin-bottom: 0;
}
.portfolio_wrap main .con4_wrap .con4 .con4_2 .page .page_list figure {
  margin-bottom: 45px;
  height: 250px;
  overflow-y: scroll;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
.portfolio_wrap main .con4_wrap .con4 .con4_2 .page .page_list figure::-webkit-scrollbar {
  width: 6px; /* 스크롤바의 너비 */
}
.portfolio_wrap main .con4_wrap .con4 .con4_2 .page .page_list figure::-webkit-scrollbar-thumb {
  background: #aaa; /* 스크롤바의 색상 */
  border-radius: 10px;
}
.portfolio_wrap main .con4_wrap .con4 .con4_2 .page .page_list figure::-webkit-scrollbar-track {
  background: #fff; /*스크롤바 뒷 배경 색상*/
}
.portfolio_wrap main .con4_wrap .con4 .con4_2 .page .page_list figure img {
  width: 100%;
}
.portfolio_wrap main .con4_wrap .con4 .con4_2 .page .page_list > p a {
  cursor: url("../img/pointer2.png"), auto;
  border: 1px solid #6797ED;
  border-radius: 30px;
  width: 120px;
  height: 38px;
  color: #6797ED;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.portfolio_wrap main .con4_wrap .con4 .con4_2 .page .page_list > p a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #6797ED;
  top: 0;
  left: 0;
  transform: translateX(-120px);
  transition: all 0.5s;
  z-index: -1;
}
.portfolio_wrap main .con4_wrap .con4 .con4_2 .page .page_list > p a:hover {
  color: #fff;
}
.portfolio_wrap main .con4_wrap .con4 .con4_2 .page .page_list > p a:hover::before {
  transform: translateX(0px);
}
.portfolio_wrap .top {
  position: fixed;
  bottom: 45px;
  right: 45px;
  border: 1px solid #333;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  letter-spacing: 1px;
  box-shadow: 3px 3px 0px #333;
  cursor: url("../img/pointer2.png"), auto;
  display: none;
}